{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Makaleler</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form>
            {% csrf_token %}
            <input class="input-sm" maxlength="64" type="text" name="keyword" placeholder="Ara " aria-label="Search">
            <button class="btn btn-danger" type="submit">Ara</button>
        </form>



    </div>
</div>

{% if articles %}
{% for article in articles %}
<div class="row">
    <div class="col-md-8 offset-md-3">
        <!-- Post Content Column -->
        <div>

            <!-- Title -->
            <a href="/articles/article/{{article.id}}">
                <h2 class="mt-4"> {{article.title}}</h2>
            </a>
            <!-- Author -->
            <p class="lead">
                by
                <a href="#">{{article.author.username}}</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>Yayimlandi {{article.created_date}}</p>
            <hr>
            <!-- Preview Image -->
            {% if article.article_file %}
            <a href="/articles/article/{{article.id}}"> <img class=" w-25" src="{{article.article_file.url}}" alt="">
            </a>
            {% else %}
            {% endif %}
            <hr>
            <!-- Post Content -->
            <p class="lead">{{article.content|safe|truncatewords:40}}</p>
            <a style="float:right;" href="/articles/article/{{article.id}}">Devamini oku</a>

            <hr>
            <!-- Comments Form -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>

</div>

{% endfor %}

{% else %}
<div class="row">
    <div class="col-md-6 offset-md-3 alert alert-danger">
        Makale bulunamadi
    </div>
</div>

<div>Makale bulunamadi</div>
{% endif %}


{% endblock body %}